[submodule "Assignment1"]
	path = Assignment1
	url = https://github.com/rlaguswo/Assignment1
[submodule "Assignment4"]
	path = Assignment4
	url = https://github.com/rlaguswo/Assignment4
[submodule "Assignment7"]
	path = Assignment7
	url = https://github.com/rlaguswo/Assignment7-Microservice-for-Partner-s-project
[submodule "Assignment8"]
	path = Assignment8
	url = https://github.com/rlaguswo/Assignment8
